@import url('../index.css');

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav{
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-logo{
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav-logo:hover{
  color: var(--first-color-alt);
}

.nav-menu{
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-link{
  color: var(--text-color);
  font-size: var(--small-font-size);
  padding-left: .6rem;
  padding-right: .6rem;
  padding-bottom: .6rem;
  margin-right: 1rem;
}

.active-link{
  border-bottom: solid 3px var(--text-color);
}

.nav-link.active-link:hover{
  color: var(--link-color-hover);
  border-bottom: solid 3px var(--link-color-hover);
}

.nav-link-name{
  font-size: var(--smaller-font-size);
  padding-top: .2rem;
}

.change-theme{
  font-size: var(--h3-font-size);
  cursor: pointer;
  transition: .3s;
}

.change-theme:hover{
  color: var(--first-color);
}

.change-theme-hide{
  display: none;
}

/*----- Movil and Tablets ------*/

@media screen and (max-width: 500px){
  .nav-list{
    display: none;
  }

  .nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


